*{
    background-color: #fff;
    font: 300;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
    ;
}
p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font: 900;
    text-decoration: overline;
    
}